* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  background-color: #44b1ff;
}

.wrapper {
  height: 260px;
  background-color: #fff;
  max-width: 500px;
  border-radius: 7px;
  padding: 15px 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: height 0.2s ease;
}

.wrapper.active {
  height: 679px;
}

header h1 {
  font-size: 21px;
  font-weight: 500;
}

header p {
  margin-top: 5px;
  color: #666;
  font-size: 16px;
}

.form {
  margin: 20px 0 30px;
}

.form :where(input, button, a) {
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.form input {
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid #ccc;
}

.form :where(button, a) {
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  background-color: #44b1ff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.qr-code {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  border-radius: 5px;
}

.only-code {
  opacity: 0;
  transition: opacity 0.5s 0.05s ease;
  pointer-events: none;
}

.active .only-code {
  opacity: 1;
  pointer-events: all;
}
