:root {
  --primary-color: #17984d;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 30px;
}

.qr-generator {
  display: flex;
  gap: 60px;
}

.qr-generator .preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.qr-generator .preview .qr-code-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #f9fafb;
  padding: 15px;
  width: 250px;
  height: 250px;
}

@media (max-width: 768px) {
  body {
    padding: 15px;
  }

  .qr-generator {
    flex-direction: column-reverse;
    gap: 30px;
  }
}

@media (max-width: 400px){
  body {
    padding: 0;
  }

  .card {
    border-radius: 0 !important;
    box-shadow: none !important;
    width: 100%;
    height: 100dvh;
  }
}